
@{
    ViewBag.Title = "Index";
}

<a href="/Category/Offers_by_Category/@ViewBag.category_id">
    <h3>
        Click here to view offers on @ViewBag.category_name 
    </h3>
</a>

<a href="/Category/Advertisers_by_Category/@ViewBag.category_id">
    <h3>
        Click here to view @ViewBag.category_name Stores
    </h3>
</a>

<a href="/Category/Products_by_Category/@ViewBag.category_id">
    <h3>
        Click here to view @ViewBag.category_name Products
    </h3>
</a>