
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    
}

<h2>Admin</h2>
<a href="/Admin/viewAdvertisers/"><h5>Advertiser</h5></a>
<a href="/Admin/viewProducts/"><h5>Products</h5></a>
<a href="/Admin/viewOffers/"><h5>Offers</h5></a>
<a href="/Admin/Scrapper"><h5>Scrapper</h5></a>
<a href="/Admin/Keyword_cloud"><h5>KeyWord Cloud</h5></a>


